[Desktop Entry]
Type=Application
Name=TestDisk
Comment=Find lost partitions and fix boot sectors
Exec=qterminal -e sudo testdisk
Icon=bluespark-testdisk
Categories=System;
