[Desktop Entry]
Type=Application
Name=Recover Files
GenericName=PhotoRec
Comment=Get deleted files back, or files from a formatted drive
Exec=qterminal -e sudo photorec
Icon=bluespark-recover
Categories=System;
